<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
</head>
<body>
    <h1>Welcome</h1>

    <label for="user-search">Search user:</label>
    <input type="text" id="user-search" placeholder="Type a name...">
    <ul id="user-results" class="dropdown"></ul>

    <br><br><br><br>

    <button onclick="window.location.href='/login'">Login</button>
    <button onclick="window.location.href='/signup'">Sign Up</button>
    <button onclick="window.location.href='/observation'"> Observation</button>

</body>
</html>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">


<style>
#user-results {
    width: 1000px;
}

#user-results .dropdown-item {
    list-style-type: none;
    background-color: lightgray;
    color: black;
    margin: 5px;
    padding: 10px;
}

#user-results .dropdown-item:hover,
#user-results li:hover {
    cursor: pointer !important;
    background-color: lightblue !important;
}
</style>