<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Age:</strong> {{ user.age }}</p>
    <p><strong>Type:</strong> {{ user.user_type }}</p>
    <button onclick="window.location.href='/user/{{ user.uid }}/observation'">Add Observation</button>

    <br>
    <button onclick="window.location.href='/'">Back to Home</button>
</body>
</html>